body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container, .app-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 90%;
  max-width: 600px;
}

h1, h3 {
  text-align: center;
}

input, button {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 5px;
}

button {
  background: #ee3b7d;
  color: white;
  border: none;
  cursor: pointer;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

table th {
  background: #ee3b7d;
  color: white;
}

.accion-btn {
  background: red;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.accion-btn:hover {
  background: darkred;
}
